*{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}
#main{
    text-align: center;
}
.col-2{
    background-color: white;
    margin-right: auto;
    margin-left: auto;

}.col-2:hover{
    transform: scale(1.07);
}
.row{
    align-items: center;
}
