*{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
}
#main{
    text-align: center;
}
/*  */
/*  */
/*  */
.col-2{
    background-color: white;
}.col-2:hover{
    background-color: blue;
}